<h1>Mytodo</h1>
<p>
  MytodoはシンプルなToDo管理アプリです。詳しくは
  <a href='/static_pages/about'>こちら</a>
</p>
<p>すでにユーザー登録されている方</p>
  <%= button_to 'メールアドレスまたは電話番号でログイン', new_user_session_path, { method: :get } %>
</div>

<p>初めてご利用の方</p>

<div>
  <%= button_to 'Mytodoユーザー登録', new_user_registration_path, { method: :get } %>
</div>
