<% provide(:title, "Home") %>
<h1>mytodo</h1>
<p>
  mytodoはシンプルなToDo管理アプリです。詳しくは
  <a href="/static_pages/about">こちら</a>
</p>
<p>すでにユーザー登録されている方</p>

<div>
  <button class="" type="button">メールアドレスまたは電話番号でログイン</button>
</div>

<p>初めてご利用の方</p>

<div>
  <button class="" type="button">mytodoユーザー登録</button>
</div>